*{
    background-color: #ecf5ff;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: #333;
    text-align: center;
    padding: 10px;
}
p{
    margin-bottom: 10px;
}

h1{
    color: rgb(11, 35, 247);
    margin-bottom: 10px;
    font-size: 25px;
    font-weight:700;
}
h2{
    font-size: 20px;
    color: rgb(11, 35, 247);
}

/*Utilities*/
button{
    font-size: 15px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 7, 148);
}
button:hover{
    cursor: pointer;
    transition: transform 150ms;
    color: rgb(209, 209, 230)
}

.next{
    float:right;
}
button #startQuiz{
    margin-top: 20px;
}
li{
    list-style-type: none;
  }
  /*HUD*/
#hud-container{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;    
    }
.hud-p{
    color: rgb(11, 35, 247);
    font-size: 20px;
    font-weight: bold;
}    
    

/*Groups & Items-Mobile First*/
.group{
    display: flex;
    flex-direction: column;
    }
  .item{
    flex:1;
}
 
  @media screen and (min-width:768px){
    .group {
      flex-direction:row;
      width: 100%;
      margin: 0px auto;
      justify-content: center;
      align-items: center;
      }






