*{
    background-color: #ecf5ff;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: #333;
    text-align: center;
    padding:10px 20px 0 20px;
}
p{
    margin-bottom: 10px;
}

h1{
    color: #66adeb;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight:700;
}
h2{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

/*Utilities*/
button{
    font-size: 15px;
    padding: 5px;
    text-align: center;
    border: 1.5px solid #56a5eb;
    border-radius: 10px;
    text-decoration: none;
    color: #56a5eb;
    background-color: whitesmoke;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(86, 185, 235, 0.5);
    transition: transform 150ms;
    color: blue
}

button[disabled]:hover{
    cursor:not-allowed;
    box-shadow: none;
    transform: none;
}
.next{
    float:right;
}
button #start-quiz{
    margin-top: 20px;
}
.result-container{
    margin-top: 40px;
}
/*Forms*/
/*.choice-container{
    list-style-type: none;    
}
form{
    width:100%;
    display: flex;
    flex-direction: column;
}
input {
    width: 50%;
    padding: 10px;
    font-size: 30px;
    border: none;
    box-shadow: 0 5px 18px 0 rgba(86, 185, 235, 0.5);
  }
.choice-prefix{
    padding:20px;
}
.choice-text{
    width:80%;
    padding:10px;
    background-color: whitesmoke;
}
*/
li{
    list-style-type: none;
  }
  .choice-container{
      display: flex;
      flex-direction: column;
  }
/*HUD*/
#hud{
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(11, 35, 247)
}
.hud-main-text{
    text-align: center;
}




